@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
:root {
    --color-casillas: #ff0000;
    --text-white: #fff;
    --text-black: #000;
    --background-color: #ff00ff50;
    --border-color: #0000ff;
    --enfasis-color: #8400a5;
}
body{
    overflow-x: hidden;
    background: linear-gradient(#2b1055, #7579de);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background:var(--background-color);
    backdrop-filter: blur(4px);
}
header .logo{
    color: var(--color-casillas);
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: var(--text-black);
}
header ul li a:hover, header ul li a.active{
    border-right: 5px solid var(--color-casillas);
    background: #ff000050;
    color: var(--text-white);
    transition: all 0.3s ease;
}
.main{
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.Btn{
    position:relative;
    width: 60%;
    height: 100vh;
    padding: 100px;
    display: flex;
    align-items: center;
    background: var(--text-white);
}
.main::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--enfasis-color),transparent);
    z-index: 1000;
    display: flex;
    align-items: center;
}
.Btn img{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    object-fit: cover;
    pointer-events: none;
    opacity: 1;
}
.Btn-h {
    background: var(--text-white);
    position: relative;
    border-left: 3px solid var(--color-casillas);
    text-align: center;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}
.Btn-h div{
    display: flex;
    text-align: center;
    align-items: center;
}
#text-btn{
    margin-left: 20px;
    font-size: 2.75em;
}
#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background: var(--color-casillas);
    color: var(--text-white);
    font-size: 1.5em;
    margin-left: 20px;
    pointer-events: all;
    border: none;
    z-index: 9;
}
/*---------------------Contenido------------------*/
.Content{
    position: absolute;
    padding: 100px;
    background: var(--enfasis-color);
    color: #fff;
    z-index: 6;
}
.Content h2{
    position: relative;
    text-align: center;
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.Content p{
    font-size: 1.2em;
    color: #fff;
}